// $primary-color: #38bb54
// $primary-color-hover: rgb(112, 209, 133)
$primary-font-color: #fff
$secondary-font-color: rgb(158, 158, 158)
$tertiary-font-color: rgb(32, 35, 41)

$background-color: rgb(32, 35, 41)
$block-background-color: rgb(60, 62, 68)
$secondary-block-background-color: #fff

$orange: #e67519
$red: rgb(214, 61, 46)
$green: rgb(85, 204, 68)