// $primary-color: #38bb54
// $primary-color-hover: #70d185
$primary-font-color: #fff
$secondary-font-color: rgb(158, 158, 158)
$link-hover-color: #e67519

$background-color: rgb(32, 35, 41)
$block-background-color: rgb(60, 62, 68)